.movie-item {
  transition: 0.2s;
}

.movie-item:hover {
  transform: scale(1.02);
  background-color: #1a1a1a;
}
#logo {
  border-radius: 50%;
}
.nav-link {
  color: #ffffff;
}
.nav-link:hover {
  border-radius: 8px;
  background-color: white;
  color: black;
}
