body {
  margin: 0;
  height: 100vh;
  background: url("../images/Backgroundweb.jpg") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* overlay tối */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
}

.login-box {
  position: relative;
  width: 350px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(229, 9, 20, 0.5);
  color: white;
  z-index: 1;
}

.login-title {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-control {
  background: transparent;
  border: 1px solid #555;
  color: white;
}
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-control:focus {
  background: transparent;
  border-color: #e50914;
  box-shadow: 0 0 5px #e50914;
  color: white;
}

.btn-login {
  background-color: #e50914;
  border: none;
  width: 100%;
}

.btn-login:hover {
  background-color: #b20710;
}

.extra {
  font-size: 13px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.extra a {
  color: #ccc;
  text-decoration: none;
}

.extra a:hover {
  color: white;
}

.divider {
  text-align: center;
  margin: 15px 0;
  color: #aaa;
}

.social-btns button {
  width: 48%;
}
